USE [PreSchoolManagement]
GO
/****** Object:  Table [dbo].[CommitteeMaster]    Script Date: 7/6/2026 8:29:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CommitteeMaster](
	[CommitteeId] [int] IDENTITY(1,1) NOT NULL,
	[CommitteeName] [nvarchar](200) NOT NULL,
	[Status] [bit] NOT NULL,
	[Slogan] [nvarchar](500) NULL,
	[Logo] [nvarchar](255) NULL,
	[LogoPath] [nvarchar](500) NULL,
	[EntryDate] [datetime] NULL,
	[ModifyDate] [datetime] NULL,
	[entryby] [uniqueidentifier] NULL,
	[modifyby] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[CommitteeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DesignationMaster]    Script Date: 7/6/2026 8:29:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DesignationMaster](
	[DesignationId] [int] IDENTITY(1,1) NOT NULL,
	[Designation] [nvarchar](100) NOT NULL,
	[Status] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[EntryBy] [uniqueidentifier] NULL,
	[ModifyBy] [uniqueidentifier] NULL,
	[EntryDate] [datetime2](7) NOT NULL,
	[ModifyDate] [datetime2](7) NULL,
 CONSTRAINT [PK_CommitteeMaster] PRIMARY KEY CLUSTERED 
(
	[DesignationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DistrictMaster]    Script Date: 7/6/2026 8:29:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DistrictMaster](
	[DistrictId] [int] IDENTITY(1,1) NOT NULL,
	[StateId] [int] NOT NULL,
	[DistrictName] [nvarchar](100) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[EntryBy] [uniqueidentifier] NULL,
	[ModifyBy] [uniqueidentifier] NULL,
	[EntryDate] [datetime2](7) NOT NULL,
	[ModifyDate] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[DistrictId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DivisionMaster]    Script Date: 7/6/2026 8:29:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DivisionMaster](
	[DivisionId] [int] IDENTITY(1,1) NOT NULL,
	[DivisionName] [nvarchar](10) NOT NULL,
	[EntryDate] [datetime] NULL,
	[ModifyDate] [datetime] NULL,
	[entryby] [uniqueidentifier] NULL,
	[modifyby] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[DivisionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HolidayMaster]    Script Date: 7/6/2026 8:29:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HolidayMaster](
	[HolidayId] [int] IDENTITY(1,1) NOT NULL,
	[HolidayName] [nvarchar](200) NOT NULL,
	[HolidayDate] [date] NOT NULL,
	[HolidayType] [nvarchar](50) NULL,
	[Description] [nvarchar](500) NULL,
	[IsActive] [bit] NOT NULL,
	[EntryBy] [int] NULL,
	[EntryDate] [datetime] NULL,
	[ModifyBy] [int] NULL,
	[ModifyDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[HolidayId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MediumMaster]    Script Date: 7/6/2026 8:29:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MediumMaster](
	[MediumId] [int] IDENTITY(1,1) NOT NULL,
	[Medium] [nvarchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[EntryBy] [uniqueidentifier] NULL,
	[ModifyBy] [uniqueidentifier] NULL,
	[EntryDate] [datetime2](7) NOT NULL,
	[ModifyDate] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[MediumId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SectionMaster]    Script Date: 7/6/2026 8:29:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SectionMaster](
	[SectionId] [int] IDENTITY(1,1) NOT NULL,
	[Section] [nvarchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[EntryBy] [uniqueidentifier] NULL,
	[ModifyBy] [uniqueidentifier] NULL,
	[EntryDate] [datetime2](7) NOT NULL,
	[ModifyDate] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[SectionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StandardMaster]    Script Date: 7/6/2026 8:29:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StandardMaster](
	[StandardId] [int] IDENTITY(1,1) NOT NULL,
	[StandardName] [nvarchar](100) NOT NULL,
	[EntryDate] [datetime] NULL,
	[ModifyDate] [datetime] NULL,
	[entryby] [uniqueidentifier] NULL,
	[modifyby] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[StandardId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StateMaster]    Script Date: 7/6/2026 8:29:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StateMaster](
	[StateId] [int] IDENTITY(1,1) NOT NULL,
	[StateName] [nvarchar](100) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[EntryBy] [uniqueidentifier] NULL,
	[ModifyBy] [uniqueidentifier] NULL,
	[EntryDate] [datetime2](7) NOT NULL,
	[ModifyDate] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[StateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

SET IDENTITY_INSERT [dbo].[CommitteeMaster] ON 

INSERT [dbo].[CommitteeMaster] ([CommitteeId], [CommitteeName], [Status], [Slogan], [Logo], [LogoPath], [EntryDate], [ModifyDate], [entryby], [modifyby]) VALUES (1, N'ABC Education Society', 1, N'Knowledge is Power', N'logo.png', N'/uploads/logo.png', NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[CommitteeMaster] OFF
GO
SET IDENTITY_INSERT [dbo].[DistrictMaster] ON 

INSERT [dbo].[DistrictMaster] ([DistrictId], [StateId], [DistrictName], [IsActive], [EntryBy], [ModifyBy], [EntryDate], [ModifyDate]) VALUES (1, 14, N'Ahmednagar', 1, NULL, NULL, CAST(N'2026-07-06T13:28:19.2077401' AS DateTime2), NULL)
INSERT [dbo].[DistrictMaster] ([DistrictId], [StateId], [DistrictName], [IsActive], [EntryBy], [ModifyBy], [EntryDate], [ModifyDate]) VALUES (2, 14, N'Akola', 1, NULL, NULL, CAST(N'2026-07-06T13:28:19.2077401' AS DateTime2), NULL)
INSERT [dbo].[DistrictMaster] ([DistrictId], [StateId], [DistrictName], [IsActive], [EntryBy], [ModifyBy], [EntryDate], [ModifyDate]) VALUES (3, 14, N'Amravati', 1, NULL, NULL, CAST(N'2026-07-06T13:28:19.2077401' AS DateTime2), NULL)
GO
SET IDENTITY_INSERT [dbo].[DistrictMaster] OFF
GO
SET IDENTITY_INSERT [dbo].[DivisionMaster] ON 

INSERT [dbo].[DivisionMaster] ([DivisionId], [DivisionName], [EntryDate], [ModifyDate], [entryby], [modifyby]) VALUES (1, N'A', NULL, NULL, NULL, NULL)
INSERT [dbo].[DivisionMaster] ([DivisionId], [DivisionName], [EntryDate], [ModifyDate], [entryby], [modifyby]) VALUES (2, N'B', NULL, NULL, NULL, NULL)
INSERT [dbo].[DivisionMaster] ([DivisionId], [DivisionName], [EntryDate], [ModifyDate], [entryby], [modifyby]) VALUES (3, N'C', NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[DivisionMaster] OFF
GO
SET IDENTITY_INSERT [dbo].[HolidayMaster] ON 

INSERT [dbo].[HolidayMaster] ([HolidayId], [HolidayName], [HolidayDate], [HolidayType], [Description], [IsActive], [EntryBy], [EntryDate], [ModifyBy], [ModifyDate]) VALUES (1, N'Republic Day', CAST(N'2026-01-26' AS Date), N'National', N'National Holiday', 1, NULL, NULL, NULL, NULL)
INSERT [dbo].[HolidayMaster] ([HolidayId], [HolidayName], [HolidayDate], [HolidayType], [Description], [IsActive], [EntryBy], [EntryDate], [ModifyBy], [ModifyDate]) VALUES (2, N'Maha Shivratri', CAST(N'2026-02-15' AS Date), N'Festival', N'Hindu Festival', 1, NULL, NULL, NULL, NULL)
INSERT [dbo].[HolidayMaster] ([HolidayId], [HolidayName], [HolidayDate], [HolidayType], [Description], [IsActive], [EntryBy], [EntryDate], [ModifyBy], [ModifyDate]) VALUES (3, N'Holi', CAST(N'2026-03-04' AS Date), N'Festival', N'Festival of Colours', 1, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[HolidayMaster] OFF
GO
SET IDENTITY_INSERT [dbo].[StandardMaster] ON 

INSERT [dbo].[StandardMaster] ([StandardId], [StandardName], [EntryDate], [ModifyDate], [entryby], [modifyby]) VALUES (1, N'Play Group', NULL, NULL, NULL, NULL)
INSERT [dbo].[StandardMaster] ([StandardId], [StandardName], [EntryDate], [ModifyDate], [entryby], [modifyby]) VALUES (2, N'Nursery', NULL, NULL, NULL, NULL)
INSERT [dbo].[StandardMaster] ([StandardId], [StandardName], [EntryDate], [ModifyDate], [entryby], [modifyby]) VALUES (3, N'Junior KG', NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[StandardMaster] OFF
GO
SET IDENTITY_INSERT [dbo].[StateMaster] ON 

INSERT [dbo].[StateMaster] ([StateId], [StateName], [IsActive], [EntryBy], [ModifyBy], [EntryDate], [ModifyDate]) VALUES (1, N'Andhra Pradesh', 1, NULL, NULL, CAST(N'2026-07-06T13:27:39.7184776' AS DateTime2), NULL)
INSERT [dbo].[StateMaster] ([StateId], [StateName], [IsActive], [EntryBy], [ModifyBy], [EntryDate], [ModifyDate]) VALUES (2, N'Arunachal Pradesh', 1, NULL, NULL, CAST(N'2026-07-06T13:27:39.7184776' AS DateTime2), NULL)
INSERT [dbo].[StateMaster] ([StateId], [StateName], [IsActive], [EntryBy], [ModifyBy], [EntryDate], [ModifyDate]) VALUES (3, N'Assam', 1, NULL, NULL, CAST(N'2026-07-06T13:27:39.7184776' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[StateMaster] OFF
GO
ALTER TABLE [dbo].[CommitteeMaster] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[CommitteeMaster] ADD  DEFAULT (NULL) FOR [entryby]
GO
ALTER TABLE [dbo].[CommitteeMaster] ADD  DEFAULT (NULL) FOR [modifyby]
GO
ALTER TABLE [dbo].[DesignationMaster] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[DesignationMaster] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[DesignationMaster] ADD  DEFAULT (sysdatetime()) FOR [EntryDate]
GO
ALTER TABLE [dbo].[DistrictMaster] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[DistrictMaster] ADD  DEFAULT (sysdatetime()) FOR [EntryDate]
GO
ALTER TABLE [dbo].[DivisionMaster] ADD  DEFAULT (NULL) FOR [entryby]
GO
ALTER TABLE [dbo].[DivisionMaster] ADD  DEFAULT (NULL) FOR [modifyby]
GO
ALTER TABLE [dbo].[HolidayMaster] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[MediumMaster] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[MediumMaster] ADD  DEFAULT (getdate()) FOR [EntryDate]
GO
ALTER TABLE [dbo].[SectionMaster] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[SectionMaster] ADD  DEFAULT (getdate()) FOR [EntryDate]
GO
ALTER TABLE [dbo].[StandardMaster] ADD  DEFAULT (NULL) FOR [entryby]
GO
ALTER TABLE [dbo].[StandardMaster] ADD  DEFAULT (NULL) FOR [modifyby]
GO
ALTER TABLE [dbo].[StateMaster] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[StateMaster] ADD  DEFAULT (sysdatetime()) FOR [EntryDate]
GO
ALTER TABLE [dbo].[DistrictMaster]  WITH CHECK ADD  CONSTRAINT [FK_DistrictMaster_StateMaster] FOREIGN KEY([StateId])
REFERENCES [dbo].[StateMaster] ([StateId])
GO
ALTER TABLE [dbo].[DistrictMaster] CHECK CONSTRAINT [FK_DistrictMaster_StateMaster]
GO
